<%= form_with(model: [@factory, @service], url: @service.new_record? ? factory_services_url(@factory, factory_id: @factory.id) : factory_service_url(@factory, @service), local: true, method: @service.new_record? ? :post : :patch) do |form| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "件のエラー") %> の為、サービスは保存出来ませんでした:</h2>

      <ul>
        <% @service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :factory_id, value: @factory.id %>

  <div class="form-group">
    <%= form.label :サービス名 %>
    <%= form.text_field :service_name, placeholder:"例)オイル交換等", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :金額 %>
    <%= form.number_field :price, placeholder:"例)1000", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :備考等 %>
    <%= form.text_field :content, placeholder:"例)在庫多数、所要時間", class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit "登録", class: "btn btn-primary" %>
  </div>
<% end %>