<p id="notice"><%= notice %></p>

<h1>サービス内容一覧</h1>

<table>
  <thead>
    <tr>
      <th>Service_name</th>
      <th>price</th>
      <th>content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.service_name %>
        <td><%= service.price %>
        <td><%= service.content %>
        <% if @service.present? %>
        <td><%= link_to 'Show', factory_service_path(@service.factory_id,@service) %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_factory_service_path(@factory, service) %></td>
        <td><%= link_to 'Destroy', factory_service_path(@factory, service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_factory_service_path %>
