<div class="container mt-5">
  <div class="text-center">
    <h1>マイページ</h1>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-3">
            <% if @user.image.present? %>
              <%= image_tag @user.image.url,class: 'rounded-circle', width: '150', height: '150' %>
            <% else %>
              <%= image_tag 'default.jpg',class: 'rounded-circle', width: '150', height: '150' %>
            <% end %>
          </div>
          <h3 class="card-title mb-4">名前 : <%= @user.name %></h3>
          <h5 class="card-subtitle mb-3">メールアドレス : <%= @user.email %></h5>
          <p class="card-text"><%= @user.profile %></p>
          <hr>
          <h5>お気に入りの工場</h5>
          <% if @favorite_list.present? %>
            <div class="list-group list-group-flush">
              <% @favorite_list.each do |factory| %>
                <%= link_to factory.factory_name, factory_path(factory), class: "list-group-item list-group-item-action" %>
              <% end %>
            </div>
          <% else %>
            <p>お気に入りの工場がありません。</p>
          <% end %>
          <%= link_to "プロフィール編集", edit_user_registration_path(current_user.id), class: "btn btn-outline-primary mt-4" %>
        </div>
      </div>
    </div>
  </div>
</div>