<%= form_with(model: factory) do |form| %>
  <% if factory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factory.errors.count, "error") %> の為、このfactoryは保存出来ませんでした:</h2>

      <ul>
        <% factory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :factory_name %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

   <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
