<p id="notice"><%= notice %></p>

<h1>Factories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>address</th>
    </tr>
  </thead>

  <tbody>
    <% @factories.each do |factory| %>
      <tr>
        <td><%= factory.factory_name %></td>
        <td><%= factory.address %></td>
        <td><%= link_to '詳細', factory %></td>
        <td><%= link_to 'Edit', edit_factory_path(factory) %></td>
        <td><%= link_to 'Destroy', factory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factory', new_factory_path %>
