<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <h1 class="text-center">整備工場一覧</h1>

  <div class="form-group">
    <%= form_tag factories_path, method: :get, class: "form-inline" do %>
      <%= label_tag :sort, "並べ替え：", class: "mr-2" %>
      <%= select_tag :sort, options_for_select([["名前順", "factory_name_asc"], ["名前逆順", "factory_name_desc"]], params[:sort]), class: "form-control mr-2", onchange: "$(this).parent('form').submit();" %>
      <%= submit_tag "検索", class: "btn btn-outline-primary" %>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th></th>
          <% if current_user.present? && current_user.admin? %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @factories.each do |factory| %>
          <tr>
            <td><%= factory.factory_name %></td>
            <td><%= factory.address %></td>
            <td><%= link_to '工場情報確認', factory, class: 'btn btn-outline-primary' %></td>
            <% if current_user.present? && current_user.admin? %>
            <td><%= link_to '編集', edit_factory_path(factory), class: 'btn btn-outline-secondary' %></td>
            <td><%= link_to '削除', factory, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: 'btn btn-outline-danger' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if current_user.present? && current_user.admin? %>
    <%= link_to '工場新規登録', new_factory_path, class: 'btn btn-outline-success' %>
    <%= link_to '特徴(カテゴリー)新規登録', new_feature_path, class: 'btn btn-outline-success' %>
  <% end %>
</div>