<p id="notice"><%= notice %></p>

  <p>
    <h3>工場名 : <%= @factory.factory_name %></h3>
  </p>

  <p>
  <% if @factory.image.present? %>
		<%= image_tag @factory.image.url, class:'image' %>
	<% else %>
		<%= image_tag 'default-1.jpg', class:'image' %>
	<% end %>
  </p>

  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(factory_id: @factory.id), method: :post, class: 'btn btn-primary' %>
  <% end %>

  <p>
    <strong>概要:</strong>
    <%= @factory.summary %>
  </p>

  <p>
    <strong>特徴:</strong>
    <% @factory.features.each do |feature| %>
      <td><%= feature.feature_name %></td>
    <% end %>
  </p>

  

  <p>
    <strong>住所:</strong>
    <%= @factory.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @factory.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @factory.longitude %>
  </p>


  <p>
    <strong>口コミ:</strong>
      <% @factory.reviews.each do |review| %>
      <p>投稿者：<%= review.user.name %></p>
      <p>内容：<%= review.content %></p>
      <% end %>
  </P>


    <% if %>
      <%= link_to '口コミを投稿！', new_factory_review_path(@factory) %>
    <% else%>
      <%= link_to 'ログインして口コミを投稿する！', new_user_session_path %>
    <% end %>
  <p><%= link_to '工場一覧に戻る', factories_path %></p>

<%= link_to 'Edit', edit_factory_path(@factory) %> |
<%= link_to 'Back', factories_path %>
