<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @review.image %>
</p>

<%= link_to '編集', edit_review_path(@review) %> |
<%= link_to '戻る', reviews_path %>
