<%= form_with(model: feature) do |form| %>
  <% if feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature.errors.count, "件のエラー") %> の為、特徴は保存出来ませんでした:</h2>

      <ul>
        <% feature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :特徴名 %>
    <%= form.text_field :feature_name, placeholder:"例)点検、修理等" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
