<p id="notice"><%= notice %></p>

<div class="container mt-3">
  <h1>特徴一覧</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @features.each do |feature| %>
        <tr>
          <td><%= feature.feature_name %></td>
          <td><%= link_to '詳細', feature, class: "btn btn-outline-secondary" %></td>
          <% if current_user.admin? %>
            <td><%= link_to '編集', edit_feature_path(feature), class: "btn btn-outline-primary" %></td>
            <td><%= link_to '削除', feature, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '新規作成(特徴)', new_feature_path, class: "btn btn-outline-success" %>
</div>
