<!DOCTYPE html>
<html>
  <head>
    <title>SMASH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
          <%= link_to 'SMASH', root_path, class: "navbar-brand" %>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
                  <% if current_user.admin? %>
                <li class="nav-item">
                  <%= link_to '管理者画面', rails_admin_path, class: "nav-link" %>
                </li>
              <% end %>
              <% else %>
                <li class="nav-item">
                  <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ゲストユーザー(管理者)', users_guest_admin_sign_in_path, method: :post, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright © SMASH.
          <%= Date.today.year %>
          All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
